/Release/
/Debug/
/Item_Images/
/Eng/
/EngRel/
/EngDeb/
/MyCheatLibrary/CheatLibrary.VC.db
/MyCheatLibrary/Release/
/MyCheatLibrary/Debug/
/TR_DDOS/
/TR_Hacker/obj/
/Register/
/Register_old/
/TR_DATA/
/RegitserInfo/
/Hacker_Test/
/Terraria_Hacker/.vs/
/Image Packer/.vs
